
.open-sans-rel{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.open-sans-inter {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
body{
    
    background-color: #F5F8FF;
}
nav{
    display: flex;
    justify-content: space-between;

}
.nav-title{
    color: #4E47FF;
    font-size: 34px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px ;
    
}
.button-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
nav button{
    margin-right: 150px;
    margin-top: 51.5px;
    margin-bottom: 51.5px;
}
.btn-primary{
    padding-top: 12px;
    padding-left: 36px;
    padding-bottom: 12px;
    padding-right: 36px;
    background-color: #4E47FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner{
    text-align: center;
    margin-top: 158px;
    margin-bottom: 152px;
    margin-left: 267.5px;
    margin-right: 267.5px;
    height: 237px;
    width: 905px;
    margin: 0 auto;
}
.banner h1{
    font-size: 65px;
    font-weight: bold;
    color: #252432;
    margin-bottom: 37px;
}
.header{
    background-image: url(./Assets/Hero-bg.png);
    height: 698px;
    
    


}
main{
    margin-left: 141px;
    margin-right: 159px;
    width: 1140px;
    margin: 0 auto;
}


.action{
    display: flex;
    justify-content: space-between;
    gap: 206px;
    margin-top: 116px;
    margin-bottom: 116px;


    
    
    
}
.action img{
    height: 238px;
    width: 403px;
    border-radius: 48px;
    align-items: center;
    margin-top: 116px;
    margin-bottom: 116px;
    
}
.section-title{
    margin-top: 62.5px;
    margin-bottom: 62.5px;
    text-align: left;

}
.section-title h2{
    font-size: 42px;
    font-weight: bold;
    width: 517px;
}
.section-title p{
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin-bottom: 23px;
    width: 450px;

}
.follwer-s{
    display: flex;
    justify-content: space-around;
    
}
.section-title-pro{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 142px;
    padding-right: 142px;
    border-radius: 24px;
}

.section-title-pro h1{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
.followers h1{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    margin-bottom: 0;
}
.followers p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.follwer-s{
    margin-bottom: 50px;
    margin-left: 142px;
    margin-top: 0;
}
.challenges_section{
    
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 137px;
    margin-bottom: 137px;

}
.challenges_section h1{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    border-radius: 14px;
    justify-content: space-between;
    gap: 20px;
    
    
}
.card{
    text-align: left;
    background-color: #FFFFFF;
    padding: 24px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 14px;
}
    

.card h5{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;

}
.card P{
    font-size: 20px;
    margin-top: 0;
    color: #1E1E1E;
}

.all{
    display: flex;
}
.all img{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}
.all-p{
    margin-bottom: 0;
}
.all-p h6{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;


}
.card p{
    margin-top: 0;
}